<div class="center jumbotron">
  <h1>Tasklistアプリへようこそ</h1>
  <p>ここではTasklistを作成することができます</p>
  <hr class="my-4">
  <p>まずは登録から</p>
  <%= link_to "新規登録", signup_path, class: "btn btn-light btn-lg" %>
</div>